<div fxLayout="row" fxLayoutAlign="stretch stretch">
    <app-logo-screen fxFlex="65"></app-logo-screen>
    <div fxFlex="35" fxLayout="column" fxLayoutAlign="center stretch">
        <div fxLayout="column" fxLayoutAlign="center stretch" fxFlex="50" fxLayoutGap="10px">
            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="10">
                <label fxFlexOffset="20" fxFlex="60">Reset Password :</label>
            </div>
            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="10">
                <label class="font-light" fxFlexOffset="20" fxFlex="60">Please enter your Email</label>
            </div>
            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="10">
                <input fxFlexOffset="20" placeholder="Your email" fxFlex="60" />
            </div>
            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="10">
                <button fxFlexOffset="20" fxFlex="20">Submit</button>
            </div>
        </div>
    </div>
</div>