.bg {
  background-color: black;
  height: 121px;
}

.logo {
  margin: 50px;
}

label {
  color: white;
}

a {
  color: white;
}

a:hover {
  cursor: pointer;
  color: #ffdb5a;
}

.welcomeUser {
  margin-right: 50px;
}
