<div fxLayout="row" fxLayoutAlign="space-between center" class="bg" fxFlex="100">
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="40px">
        <img class="logo" src="../../../assets/images/logo-white.svg" />
        <a>Accounts</a>
        <a>Analytics</a>
        <a>Billing</a>
        <a>FAQs</a>
    </div>
    <div class="welcomeUser" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
        <label>Welcome {{user}}, </label>
        <img src="../../../assets/images/user.svg">
        <button (click)="logout()">Logout</button>
    </div>
</div>