.seperator {
  //   border-bottom: 1px dotted black;
  width: 80%;
  background-image: linear-gradient(
    to right,
    black 40%,
    rgba(255, 255, 255, 0) 0%
  );
  background-position: bottom;
  background-size: 70px 2px;
  background-repeat: repeat-x;
}

label {
  font-size: 1.25em;
}
