<div class="bg height-100" fxLayout="column" fxLayoutAlign="center center">
    <div fxFlex="50" fxLayout="row" fxLayoutAlign="stretch end">
        <img class="logo" src="../../assets/images/logo-black.svg">
    </div>
    <div fxFlex="40" class="text">
        <p>Produce digitally interactive</p>
        <p>physical objects & spaces</p>
        <p>ReadyMade for release to</p>
        <p>audiences worldwide.</p>
    </div>
    <div fxFlex="10" fxLayout="row" fxLayoutAlign="stretch end">
        <img class="anart-logo" src="../../assets/images/an-art-logo.svg">
    </div>
</div>