// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$readymade-primary: mat.define-palette(mat.$indigo-palette);
$readymade-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$readymade-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$readymade-theme: mat.define-light-theme(
  (
    color: (
      primary: $readymade-primary,
      accent: $readymade-accent,
      warn: $readymade-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($readymade-theme);

/* You can add global styles to this file, and also import other style files */
:host {
  // font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
  //   Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  // font-family: Avenir-Black;
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  margin: 0px;
  height: 100%;
}

body {
  overflow: auto;
  font-family: "Avenir-Book";
}

* {
  font-family: Avenir-Book;
  font-weight: 900;
}

@font-face {
  font-family: Avenir-Black;
  src: url("assets/fonts/avenir_ff/AvenirLTStd-Black.otf");
}

@font-face {
  font-family: Avenir-Book;
  src: url("assets/fonts/avenir_ff/AvenirLTStd-Book.otf");
}

@font-face {
  font-family: Avenir-Roman;
  src: url("assets/fonts/avenir_ff/AvenirLTStd-Roman.otf");
}

input {
  height: 40px;
  border: 1px solid black;
  border-radius: 10px;
  text-indent: 15px;
  outline: none;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: silver;
  opacity: 1; /* Firefox */
  // padding-left: 15px;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: silver;
  padding-left: 15px;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: silver;
  padding-left: 15px;
}

button {
  background-color: #9fc1ef;
  color: white;
  border-radius: 10px;
  height: 25px;
  border: 1px solid #9fc1ef;
}

a {
  color: #0e65d8;
  text-decoration: none;
}

.font-light {
  font-weight: 100;
}

// ERRORS

.error-text {
  color: red;
}

.error-input {
  border-color: red;
}

// FONT AWESOME
fa-icon {
  cursor: pointer;
}

.width-100 {
  width: 100%;
}

.height-100 {
  height: 100%;
}

.button-internal {
  color: white;
  background-color: black;
  border-radius: 15px;
  width: 125px;
  cursor: pointer;
}

.button-internal-white {
  color: black;
  background-color: white;
  border-radius: 15px;
  width: 125px;
  cursor: pointer;
  border-color: black;
  border: 2px solid gray;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.cdk-global-scrollblock {
  overflow-y: hidden;
}

.modal-header {
  font-family: "Avenir-Black";
  font-size: 1.25em;
}

.modal-text {
  font-size: 14px;
  font-weight: bold;
}

app-stepper {
  height: 100%;
}

.mat-form-field-flex {
  border-bottom: none;
}

// dev css
.dev-border {
  border: 1px solid red;
}
